
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_LandingPage.cshtml";
}


<div class="container">
    <div class="jumbotron">
        <h2 class="header text-success text-center">Error Page</h2>
        <p class="lead text-center">
            Oh! Something went wrong you might to go back in previous page. 
        </p>
    </div>
</div>