<?xml version="1.0"?>
<configuration>
  <!--<location path="~/Areas/Admin"  inheritInChildApplications="false" >
    <system.web>
      <identity impersonate="true" />
      <authentication mode="Forms">
        <forms name="myAuthCookie" ticketCompatibilityMode="Framework40" cookieless="UseCookies" requireSSL="false" timeout="180" protection="Encryption" />
      </authentication>
      <machineKey
        validationKey="DA87693F33607268657E61BCF16D2EAFE339ECE0F6C9B94DFA0FE5BBCA0035EB320F81662A32D98F0A0D2A5DCBE3E678EDF216FBD45CB8BD6F13489D1548214C"
        decryptionKey="26F44FEF28C3466FAB261CEF4844535678578C6658F85C6ADAE17A99B0947468"
        validation="SHA1" decryption="AES"/>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>-->
</configuration>
